<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="LibraryManagementConnectionString" connectionString="Data Source=.;Initial Catalog=LibraryManagementV2;User ID=sa;Password="
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>