USE [master]
GO
/****** Object:  Database [LibraryManagementV2]    Script Date: 3/16/2017 12:47:03 PM ******/
CREATE DATABASE [LibraryManagementV2]

ALTER DATABASE [LibraryManagementV2] SET COMPATIBILITY_LEVEL = 120
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LibraryManagementV2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LibraryManagementV2]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 3/16/2017 12:47:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[AuthorId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](300) NOT NULL,
	[Contact] [nvarchar](1000) NULL DEFAULT (N'N/A'),
	[Address] [nvarchar](300) NULL DEFAULT (N'N/A'),
	[Bio] [nvarchar](max) NULL DEFAULT (N'N/A'),
PRIMARY KEY CLUSTERED 
(
	[AuthorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Books]    Script Date: 3/16/2017 12:47:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookId] [int] IDENTITY(1,1) NOT NULL,
	[Isbn] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL CONSTRAINT [DF__Books__Descripti__2E1BDC42]  DEFAULT (N'N/A'),
	[CoverImageUrl] [nvarchar](max) NULL CONSTRAINT [DF__Books__CoverImag__2F10007B]  DEFAULT (N'DefaultCover.jpg'),
	[PageNumber] [int] NULL,
	[PublishedDate] [date] NULL,
	[AuthorId] [int] NULL,
	[CategoryId] [int] NULL,
	[PublisherId] [int] NULL,
	[Discontinued] [bit] NULL CONSTRAINT [DF__Books__Discontin__32E0915F]  DEFAULT ((0)),
 CONSTRAINT [PK__Books__3DE0C207F3D8E107] PRIMARY KEY CLUSTERED 
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Categories]    Script Date: 3/16/2017 12:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Copies]    Script Date: 3/16/2017 12:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Copies](
	[CopyId] [int] IDENTITY(1,1) NOT NULL,
	[BookId] [int] NULL,
	[IsAvailable] [bit] NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[CopyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoanDetails]    Script Date: 3/16/2017 12:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoanDetails](
	[CopyId] [int] NULL,
	[LoanId] [int] NULL,
	[ReturnDate] [date] NULL DEFAULT (NULL)
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Loans]    Script Date: 3/16/2017 12:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loans](
	[LoanId] [int] IDENTITY(1,1) NOT NULL,
	[IssueDate] [datetime] NULL DEFAULT (getdate()),
	[LimitDay] [int] NULL DEFAULT ((5)),
	[MemberId] [int] NOT NULL,
	[LibrarianId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LoanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Publishers]    Script Date: 3/16/2017 12:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publishers](
	[PublisherId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](300) NOT NULL,
	[Contact] [nvarchar](1000) NULL DEFAULT (N'N/A'),
	[Address] [nvarchar](300) NULL DEFAULT (N'N/A'),
	[Description] [nvarchar](max) NULL DEFAULT (N'N/A'),
PRIMARY KEY CLUSTERED 
(
	[PublisherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 3/16/2017 12:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/16/2017 12:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](300) NOT NULL,
	[Password] [nvarchar](60) NULL,
	[FullName] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](11) NULL CONSTRAINT [DF__Users__PhoneNumb__276EDEB3]  DEFAULT (N'N/A'),
	[Address] [nvarchar](600) NULL CONSTRAINT [DF__Users__Address__286302EC]  DEFAULT (N'N/A'),
	[Email] [nvarchar](50) NULL CONSTRAINT [DF__Users__Email__29572725]  DEFAULT (N'N/A'),
	[RoleId] [int] NULL,
 CONSTRAINT [PK__Users__1788CC4CAF8054B0] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[vBooks]    Script Date: 3/16/2017 12:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vBooks] as
select 
	b.BookId as Id, b.Title as Title, b.Isbn as ISBN, (select count(CopyId) from Copies) as Copies,b.PageNumber as NumOfPage, b.PublishedDate as PublishDate, 
	c.Name as Category, a.FullName as Author, p.Name as Publisher,
	b.Discontinued as Discontinued, b.Description as Description, b.CoverImageUrl as Cover
from
	Books b,
	Categories c,
	Authors a,
	Publishers p
where 
	b.CategoryId = c.CategoryId and
	b.AuthorId = a.AuthorId and
	b.PublisherId = p.PublisherId


GO
/****** Object:  View [dbo].[vCopies]    Script Date: 3/16/2017 12:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vCopies] as
select * 
from Copies c, vBooks b
where c.BookId = b.Id


GO
SET IDENTITY_INSERT [dbo].[Authors] ON 

INSERT [dbo].[Authors] ([AuthorId], [FullName], [Contact], [Address], [Bio]) VALUES (11, N'Nhiều tác giả', NULL, NULL, NULL)
INSERT [dbo].[Authors] ([AuthorId], [FullName], [Contact], [Address], [Bio]) VALUES (12, N'Kim Định', NULL, NULL, NULL)
INSERT [dbo].[Authors] ([AuthorId], [FullName], [Contact], [Address], [Bio]) VALUES (13, N'Vương Bằng', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Authors] OFF
SET IDENTITY_INSERT [dbo].[Books] ON 

GO
SET IDENTITY_INSERT [dbo].[Books] OFF
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [Name]) VALUES (2, N'test')
INSERT [dbo].[Categories] ([CategoryId], [Name]) VALUES (3, N'test')
INSERT [dbo].[Categories] ([CategoryId], [Name]) VALUES (4, N'test')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Copies] ON 

INSERT [dbo].[Copies] ([CopyId], [BookId], [IsAvailable]) VALUES (3, 25, 1)
INSERT [dbo].[Copies] ([CopyId], [BookId], [IsAvailable]) VALUES (4, 25, 0)
SET IDENTITY_INSERT [dbo].[Copies] OFF
INSERT [dbo].[LoanDetails] ([CopyId], [LoanId], [ReturnDate]) VALUES (3, 6, NULL)
INSERT [dbo].[LoanDetails] ([CopyId], [LoanId], [ReturnDate]) VALUES (4, 6, NULL)
INSERT [dbo].[LoanDetails] ([CopyId], [LoanId], [ReturnDate]) VALUES (3, 14, NULL)
SET IDENTITY_INSERT [dbo].[Loans] ON 

INSERT [dbo].[Loans] ([LoanId], [IssueDate], [LimitDay], [MemberId], [LibrarianId]) VALUES (1, CAST(N'2017-03-05 10:59:34.600' AS DateTime), 2, 2, 3)
INSERT [dbo].[Loans] ([LoanId], [IssueDate], [LimitDay], [MemberId], [LibrarianId]) VALUES (6, CAST(N'2017-03-04 11:09:23.000' AS DateTime), 5, 2, 3)
INSERT [dbo].[Loans] ([LoanId], [IssueDate], [LimitDay], [MemberId], [LibrarianId]) VALUES (12, CAST(N'2017-03-04 11:43:28.000' AS DateTime), 2, 2, 3)
SET IDENTITY_INSERT [dbo].[Loans] OFF
SET IDENTITY_INSERT [dbo].[Publishers] ON 

INSERT [dbo].[Publishers] ([PublisherId], [Name], [Contact], [Address], [Description]) VALUES (10, N'test3', N'q', N'r', N'y')
INSERT [dbo].[Publishers] ([PublisherId], [Name], [Contact], [Address], [Description]) VALUES (11, N'NXB Hội Nhà Văn', NULL, NULL, NULL)
INSERT [dbo].[Publishers] ([PublisherId], [Name], [Contact], [Address], [Description]) VALUES (12, N'NXB Lao Động - Xã Hội', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Publishers] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [Name]) VALUES (1, N'admin')
INSERT [dbo].[Roles] ([RoleId], [Name]) VALUES (2, N'librarian')
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [Password], [FullName], [PhoneNumber], [Address], [Email], [RoleId]) VALUES (2, N'admin', N'admin', NULL, N'admin', N'admin', N'admin', 1)
INSERT [dbo].[Users] ([UserId], [Username], [Password], [FullName], [PhoneNumber], [Address], [Email], [RoleId]) VALUES (3, N'koala1', N'koalakoala', N'koala', N'0123456789', N'forest', N'koala@forest.com', 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK__Books__AuthorId__300424B4] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Authors] ([AuthorId])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK__Books__AuthorId__300424B4]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK__Books__CategoryI__30F848ED] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK__Books__CategoryI__30F848ED]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK__Books__Publisher__31EC6D26] FOREIGN KEY([PublisherId])
REFERENCES [dbo].[Publishers] ([PublisherId])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK__Books__Publisher__31EC6D26]
GO
ALTER TABLE [dbo].[Copies]  WITH CHECK ADD  CONSTRAINT [FK__Copies__BookId__35BCFE0A] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([BookId])
GO
ALTER TABLE [dbo].[Copies] CHECK CONSTRAINT [FK__Copies__BookId__35BCFE0A]
GO
ALTER TABLE [dbo].[LoanDetails]  WITH CHECK ADD FOREIGN KEY([CopyId])
REFERENCES [dbo].[Copies] ([CopyId])
GO
ALTER TABLE [dbo].[LoanDetails]  WITH CHECK ADD FOREIGN KEY([LoanId])
REFERENCES [dbo].[Loans] ([LoanId])
GO
ALTER TABLE [dbo].[Loans]  WITH CHECK ADD  CONSTRAINT [FK__Loans__Librarian__35BCFE0A] FOREIGN KEY([LibrarianId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Loans] CHECK CONSTRAINT [FK__Loans__Librarian__35BCFE0A]
GO
ALTER TABLE [dbo].[Loans]  WITH CHECK ADD  CONSTRAINT [FK__Loans__MemberId__36B12243] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Loans] CHECK CONSTRAINT [FK__Loans__MemberId__36B12243]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK__Users__RoleId__37A5467C] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK__Users__RoleId__37A5467C]
GO
/****** Object:  StoredProcedure [dbo].[DeleteAuthorById]    Script Date: 3/16/2017 12:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[DeleteAuthorById](
@AuthorId int
) as
begin
	if not exists (select * from Authors Where AuthorId = @AuthorId)
		begin
			return 0;
		end
	else
		begin
			if exists (select * from Books where AuthorId = @AuthorId)
				begin
					return -1;
				end
			else 
				begin
					delete from Authors where AuthorId = @AuthorId;
					return @@ROWCOUNT;
				end
		end
end


GO
/****** Object:  StoredProcedure [dbo].[DeleteBookById]    Script Date: 3/16/2017 12:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[DeleteBookById](
@BookId int
) as
begin
	if exists (select * from Copies where BookId = @BookId) return -1;
	if not exists (select * from Books where BookId = @BookId) return 0;
	begin
		delete from Books where BookId = @BookId;
		return @@ROWCOUNT;
	end
end


GO
/****** Object:  StoredProcedure [dbo].[DeleteCategoryById]    Script Date: 3/16/2017 12:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[DeleteCategoryById](
@CategoryID int
) as
begin
	if not exists (select * from Categories where CategoryId = @CategoryID)
		begin
			return 0;
		end
	else
		begin
			if exists (select * from Books where Books.CategoryId = @CategoryID)
				begin
					return -1;
				end
			else
				begin
					delete from Categories where Categories.CategoryId = @CategoryID;
					return @@ROWCOUNT;
				end
		end
end


GO
/****** Object:  StoredProcedure [dbo].[DeleteCopiesById]    Script Date: 3/16/2017 12:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[DeleteCopiesById](
@CopyId int
) as
begin
	if not exists (select * from Copies where CopyId = @CopyId) return 0;
	if exists (select * from LoanDetails where CopyId = @CopyId) return -1;
	delete from Copies  where CopyId = @CopyId;
	return @@ROWCOUNT;
end


GO
/****** Object:  StoredProcedure [dbo].[DeleteLoanById]    Script Date: 3/16/2017 12:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[DeleteLoanById](
@LoanId int
) as
begin
	if exists (select * from LoanDetails where LoanId = @LoanId) return -1;
	if not exists (select * from Loans) return 0;
	delete from Loans where LoanId = @LoanId;
	return @@ROWCOUNT;
end


GO
/****** Object:  StoredProcedure [dbo].[DeletePublisherById]    Script Date: 3/16/2017 12:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[DeletePublisherById](
@PublisherId int
) as
begin
	if not exists (select * from Publishers where PublisherId = @PublisherId) return 0;
	if exists (select * from Books where PublisherId = @PublisherId) return -1;
	else
		begin
			delete from Publishers where PublisherId = @PublisherId;
			return @@Rowcount;
		end
end


GO
/****** Object:  StoredProcedure [dbo].[DeleteRoleById]    Script Date: 3/16/2017 12:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[DeleteRoleById](
@RoleID int
) as
begin
	SET NOCOUNT OFF;
	if not exists (select * from Users where  RoleId= @RoleID)
		begin
			if exists (select * from Roles where RoleId = @RoleID)
				begin
					delete from Roles where RoleId = @RoleID;
					return @@ROWCOUNT;
				end
			else 
				begin
					return 0;
				end
		end
	else
		begin
			return -1;
		end
	
end


GO
/****** Object:  StoredProcedure [dbo].[DeleteRoleByName]    Script Date: 3/16/2017 12:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[DeleteRoleByName](
@Name nvarchar(300),
@Status int output 
) as
begin
	set nocount off;
	if  not exists (select * from Users where RoleId in (select RoleId from Roles where Name = @Name))
	begin
	delete from Roles where Name = @Name;
	end
	set @Status = @@ROWCOUNT;
	return @Status;
end


GO
/****** Object:  StoredProcedure [dbo].[DeleteUserById]    Script Date: 3/16/2017 12:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[DeleteUserById](
@UserId int
) as
begin
	if not exists (select * from Users where UserId = @UserId) return 0;
	if exists (select * from Loans where MemberId = @UserId) return -1;
	if exists (select * from Loans where LibrarianId = @UserId) return -2;
	delete from Users where UserId = @UserId;
	return @@ROWCOUNT;
end


GO
/****** Object:  StoredProcedure [dbo].[HasExisted]    Script Date: 3/16/2017 12:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[HasExisted](
@Username nvarchar(300)
) as
begin
 if exists( select * from Users where Username = @Username) return 1;
 return 0;
end

GO
/****** Object:  StoredProcedure [dbo].[InsertAuthor]    Script Date: 3/16/2017 12:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsertAuthor](
@FullName nvarchar(300),
@Contact nvarchar(1000) = null,
@Address nvarchar(300) = null,
@Bio nvarchar(MAX) = null
) as
begin
	set nocount off;
	insert into Authors values(@FullName, @Contact, @Address, @Bio);
	return SCOPE_IDENTITY();
end


GO
/****** Object:  StoredProcedure [dbo].[InsertBook]    Script Date: 3/16/2017 12:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsertBook](
@Isbn nvarchar(MAX) = N'N/A',
@Title nvarchar(MAX),
@Description nvarchar(MAX) = N'N/A',
@CoverImageUrl nvarchar(MAX) = N'DefaultCover.jpg',
@PageNumber int = 300,
@PublishedDate date = getdate,
@AuthorId int,
@CategoryId int,
@PublisherId int,
@Discontinued bit = 0
)as
begin
	if not exists (select * from Authors where AuthorId = @AuthorId) return -1;
	if not exists (select * from Publishers where PublisherId = @PublisherId ) return -2;
	if not exists (select * from Categories where CategoryId = @CategoryId) return -3;
	else
		begin
			insert into Books values (@Isbn, @Title, @Description, @CoverImageUrl, @PageNumber, @PublishedDate, @AuthorId, @CategoryId, @PublisherId, @Discontinued);
			return SCOPE_IDENTITY();
		end
end


GO
/****** Object:  StoredProcedure [dbo].[InsertCategory]    Script Date: 3/16/2017 12:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsertCategory](
@CategoryID int output,
@Name nvarchar(300)
) as
begin
	if not exists (select * from Categories where Name = @Name)
		begin
			insert into Categories values (@Name);
			set @CategoryID = SCOPE_IDENTITY();
		end
	else
		begin
			set @CategoryID = -1;
		end
	return  @CategoryID;
end


GO
/****** Object:  StoredProcedure [dbo].[InsertLoan]    Script Date: 3/16/2017 12:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[InsertLoan](
@IssueDate datetime = getdate,
@LimitDay int = 5,
@MemberId int,
@LibrarianId int
) as
begin
	if not exists (select * from Users where UserId = @MemberId) return -1;
	if not exists (select * from Users where UserId = @LibrarianId) return -2;
	insert into Loans values(@IssueDate, @LimitDay, @MemberId, @LibrarianId);
	return @@ROWCOUNT;
end


GO
/****** Object:  StoredProcedure [dbo].[InsertPublisher]    Script Date: 3/16/2017 12:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsertPublisher](
@Name nvarchar(300),
@Contact nvarchar(1000) = null,
@Address nvarchar(300) = null,
@Description nvarchar(MAX) = null
) as
begin
	insert into Publishers values(@Name, @Contact, @Address, @Description);
	return SCOPE_IDENTITY();
end


GO
/****** Object:  StoredProcedure [dbo].[InsertRole]    Script Date: 3/16/2017 12:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsertRole](
@Name nvarchar(300)
) as
begin
	SET NOCOUNT OFF;
	if not exists (select * from Roles Where Name = @Name)
		begin
			insert into Roles values(@Name)
			return SCOPE_IDENTITY();
		end
	else
		begin
			return -1;
		end
end


GO
/****** Object:  StoredProcedure [dbo].[InsertUser]    Script Date: 3/16/2017 12:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[InsertUser](
@Username nvarchar(300),
@Password nvarchar(60),
@FullName nvarchar(100),
@RoleId int,
@PhoneNumber nvarchar(11) = null,
@Address nvarchar(600) = null,
@Email nvarchar(50) = null
) as
begin
	set nocount off;
	if not exists (select * from Users where Username = @Username)
		begin
			insert into Users values (@Username, @Password, @FullName, @PhoneNumber, @Address, @Email, @RoleId);
			return SCOPE_IDENTITY();
		end
	else
		begin
			return -1;
		end
end


GO
/****** Object:  StoredProcedure [dbo].[UpdateAuthorById]    Script Date: 3/16/2017 12:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[UpdateAuthorById](
@AuthorId int,
@FullName nvarchar(300),
@Contact nvarchar(1000),
@Address nvarchar(300),
@Bio nvarchar(MAX)
) as
begin
	if not exists (select * from Authors where AuthorId = @AuthorId) return 0;
	if exists (select * from Books where AuthorId = @AuthorId) return -1;
	update Authors set
					FullName = @FullName,
					Contact = @Contact,
					Address = @Address,
					Bio = @Bio
	where AuthorId = @AuthorId;
	return @@ROWCOUNT;
end


GO
/****** Object:  StoredProcedure [dbo].[UpdateBookById]    Script Date: 3/16/2017 12:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[UpdateBookById](
@BookId int,
@Isbn nvarchar(MAX),
@Title nvarchar(MAX),
@Description nvarchar(MAX),
@CoverImageUrl nvarchar(MAX),
@PageNumber int,
@PublishedDate date,
@AuthorId int,
@CategoryId int,
@PublisherId int,
@Discontinued bit
) as
begin
	if not exists (select * from Books where BookId = @BookId) return 0;
	if not exists (select * from Authors where AuthorId = @AuthorId) return -1;
	if not exists (select * from Categories where CategoryId = @CategoryId) return -2;
	if not exists (select * from Publishers where PublisherId = @PublisherId) return -3;
	update Books set
	Isbn = @Isbn,
	Title = @Title,
	Description = @Description,
	CoverImageUrl = @CoverImageUrl,
	PageNumber = @PageNumber,
	PublishedDate = @PublishedDate,
	AuthorId = @AuthorId,
	CategoryId = @CategoryId,
	PublisherId = @PublisherId,
	Discontinued = @Discontinued
	where BookId = @BookId;
end


GO
/****** Object:  StoredProcedure [dbo].[UpdateCopyById]    Script Date: 3/16/2017 12:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[UpdateCopyById](
@CopyId int,
@BookId int,
@IsAvailable bit
) as
begin
	if not exists (select * from Copies where CopyId = @CopyId) return 0;
	if not exists (select * from Books where BookId = @BookId) return -1;
	update Copies set
					BookId = @BookId,
					IsAvailable = @IsAvailable
	where CopyId = @CopyId;
	return @@ROWCOUNT;
end

GO
/****** Object:  StoredProcedure [dbo].[UpdateLoanById]    Script Date: 3/16/2017 12:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[UpdateLoanById](
@LoanId int,
@IssueDate datetime,
@MemberId int,
@LibrarianId int,
@LimitDay int
) as
begin
	if not exists (select * from Users where UserId = @MemberId) return 0;
	if not exists (select * from Users where UserId = @LibrarianId ) return -1;
	update Loans set
		IssueDate = @IssueDate,
		MemberId = @MemberId,
		LibrarianId = @LibrarianId,
		LimitDay = @LimitDay
	where LoanId = @LoanId
	return @@ROWCOUNT;
end

GO
/****** Object:  StoredProcedure [dbo].[UpdatePublisherById]    Script Date: 3/16/2017 12:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[UpdatePublisherById](
@PublisherId int,
@Name nvarchar(300),
@Contact nvarchar(1000),
@Address nvarchar(300),
@Description nvarchar(MAX)
) as
begin
	if not exists (select * from Publishers where PublisherId = @PublisherId) return 0;
	update Publishers set
	Name = @Name,
	Contact = @Contact,
	[Address] = @Address,
	[Description] = @Description
	where PublisherId = @PublisherId;
	return @@ROWCOUNT;
end


GO
/****** Object:  StoredProcedure [dbo].[UpdateRoleById]    Script Date: 3/16/2017 12:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[UpdateRoleById](
@RoleId int,
@Name nvarchar(300)
) as
begin
	update Roles set Name = @Name;
	return @@ROWCOUNT;
end


GO
/****** Object:  StoredProcedure [dbo].[UpdateUserById]    Script Date: 3/16/2017 12:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[UpdateUserById](
@UserId int,
@Username nvarchar(300),
@Password nvarchar(60),
@FullName nvarchar(100),
@PhoneNumber nvarchar(11),
@Address nvarchar(600),
@Email nvarchar(50),
@RoleId int 
) as
begin
	if not exists (select * from Users where UserId = @UserId) return 0;
	if not exists (select * from Roles where RoleId = @RoleId ) return -1;
	update Users set
		Username = @Username,
		Password = @Password,
		FullName = @FullName,
		PhoneNumber = @PhoneNumber,
		Address = @Address,
		Email = @Email,
		RoleId = @RoleId
	where UserId = @UserId
	return @@ROWCOUNT;
end


GO
USE [master]
GO
