<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <!--<connectionStrings>
        <add name="LibraryManagementConnectionString" connectionString="Data Source=.;Initial Catalog=LibraryManagementV2;User ID=sa;Password="
            providerName="System.Data.SqlClient" />
        <add name="DatabaseAccess.Properties.Settings.LibraryManagementConnectionString"
            connectionString="Data Source=.;Initial Catalog=LibraryManagementV2;User ID=sa" />
    </connectionStrings>-->
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAuthorService" />
                <binding name="BasicHttpBinding_IBookService" />
                <binding name="BasicHttpBinding_ICategoryService" />
                <binding name="BasicHttpBinding_IBookCopyService" />
                <binding name="BasicHttpBinding_IPublisherService" />
                <binding name="BasicHttpBinding_IUserService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8888/AuthorService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAuthorService" contract="AuthorServiceReference.IAuthorService"
                name="BasicHttpBinding_IAuthorService" />
            <endpoint address="http://localhost:8888/BookService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IBookService" contract="BookServiceReference.IBookService"
                name="BasicHttpBinding_IBookService" />
            <endpoint address="http://localhost:8888/CategoryService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICategoryService" contract="CategoryServiceReference.ICategoryService"
                name="BasicHttpBinding_ICategoryService" />
            <endpoint address="http://localhost:8888/BookCopyService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IBookCopyService" contract="BookCopyServiceReference.IBookCopyService"
                name="BasicHttpBinding_IBookCopyService" />
            <endpoint address="http://localhost:8888/PublisherService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPublisherService"
                contract="PublisherServiceReference.IPublisherService" name="BasicHttpBinding_IPublisherService" />
            <endpoint address="http://localhost:8888/UserService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IUserService" contract="UserServiceReference.IUserService"
                name="BasicHttpBinding_IUserService" />
        </client>
    </system.serviceModel>
</configuration>