<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <!--<connectionStrings>
        <add name="LibraryManagementConnectionString" connectionString="Data Source=.;Initial Catalog=LibraryManagementV2;User ID=sa;Password="
            providerName="System.Data.SqlClient" />
        <add name="DatabaseAccess.Properties.Settings.LibraryManagementConnectionString"
            connectionString="Data Source=.;Initial Catalog=LibraryManagementV2;User ID=sa" />
    </connectionStrings>-->
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAuthorService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8888/AuthorService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAuthorService" contract="AuthorServiceReference.IAuthorService"
                name="BasicHttpBinding_IAuthorService" />
        </client>
    </system.serviceModel>
</configuration>